<h1>List of all Characters</h1>

<ul>
<% @person.each do |person| %>
  <li>
    <%= link_to person.name, person_path(person) %>
  </li>
  <% end %>
</ul>

<%= link_to "Add a new Character", new_person_path %>
